- if flash[:notice]
  %p.notice= flash[:notice]

%h2 Recent Work

%ul#recent

%h2 Rockstar Skills
%ul#skills
  %li.picto{:'data-icon' => "S"} Application Design
  %li.picto{:'data-icon' => "S"} HTML &amp; CSS
  %li.picto{:'data-icon' => "S"} JavaScript &amp; jQuery
  %li.picto{:'data-icon' => "S"} Server Administration
  %li.picto{:'data-icon' => "S"} Subversion &amp; Git
  %li.picto{:'data-icon' => "S"} Web Standards &amp; SEO
  %li.picto{:'data-icon' => "S"} Ruby on Rails
  %li.picto{:'data-icon' => "S"} MySQL
  %li.picto{:'data-icon' => "S"} Photoshop &amp; Illustrator
%h2 About Me
#about
  %p I am the CEO for my company <a href="http://fuelcollective.com">Fuel Collective</a>. There I'm responsible for Designing all of our applications, designing and developing the website, keeping the servers happy, and all the other stuff that makes a business run.
  %p I'm currently a part of the Extended Family for the amazing people at <a href="http://obtiva.com">Obtiva</a> who have given me the chance to work at places like <a href="http://leapfrogonline.com">Leapfrog Online</a> &amp; <a href="http://groupon.com">Groupon</a>.
  %p
    I'm passionate about creating user interfaces that guide the user, not hinder them. I love designing applications for the most beautiful platform in the world, for users who care about how their applications look and feel. Applications should feel natural, even when using them for the first time.

%h2 Drop me a line
%form{:action => "send_mail", :method => "post"}
  %fieldset#contact
    %ul
      %li
        %input{:type => "text", :value => "What's your name?", :id => "from_name", :name => "from_name", :class => "text swap_value"}
      %li
        %input{:type => "text", :value => "Your Email so we can get back to you.", :id => "from_email", :name => "from_email", :class => "text swap_value"}
      %li
        %textarea{:id => "message", :class => "textarea", :name => "message" }
      %li
        %input{:type => "hidden", :id => "address", :name => "address"}
        %input{:type => "submit", :id => "submit", :value => "Submit"}