#me.animated.fadeInDown
  #portrait
    %img{src: "/images/me.jpg", width: 256, height: 256}
  %h1
    Hi, I'm 
    %strong Stephen Korecky
  %p
    A Designer &amp; Developer currently living in Chicago working for 
    <a href="http://www.raise.com">Raise</a> where I help create the future of 
    gift cards. I also started my own company
    <a href="http://www.fuelcollective.com">Fuel Collective</a> where we create 
    Mac software.
  %p
    I sometimes <a href="http://blog.stephenkorecky.com">blog</a> and love 
    metting new people so please feel free to <a href="#email">email</a> 
    me and we can setup a time to meet and talk.
  
  %ul#social
    %li
      %a.ss-icon.ss-social{href: "#email"} Email
    %li
      %a.ss-icon.ss-social{href: "http://dribbble.com/skorecky"} Dribbble
    %li
      %a.ss-icon.ss-social{href: "http://github.com/skorecky"} GitHubOctocat
    %li
      %a.ss-icon.ss-social{href: "http://twitter.com/skorecky"} Twitter