#me
  %h1.animated.bounceIn
    Stephen Korecky
    %small Designer &amp; Developer from Chicago
  #portrait.animated.bounceInDown
    %img{src: "/images/me.jpg", width: 256, height: 256}
  %ul#social.animated.fadeInDown
    %li
      %a.ss-icon.ss-social{href: "http://dribbble.com/skorecky"} Dribbble
    %li
      %a.ss-icon.ss-social{href: "http://github.com/skorecky"} GitHubOctocat
    %li
      %a.ss-icon.ss-social{href: "#email"} Email
    %li
      %a.ss-icon.ss-social{href: "http://twitter.com/skorecky"} Twitter
    %li
      %a.ss-icon.ss-social{href: "http://facebook.com/skorecky"} Facebook