%video{autoplay: true, muted: true, loop: true}
  %source{src: "/videos/background.mebm", type: "video/mebm"}
  %source{src: "/videos/background.mp4", type: "video/mp4"}
  %source{src: "/videos/background.ogv", type: "video/ogv"}
  %img{src: "/videos/background.jpg"}

#me
  #portrait
    %img{src: "/images/me_alt.jpg", width: 150, height: 150}
  %h1
    %strong Stephen Korecky
  %h2
    Live Sound Engineer
  %p
    <a href=tel:7739809429>(773) 980-9429</a>
