#me
  #portrait
    %img{src: "/images/me.jpg", width: 256, height: 256}
  %h1
    %strong Stephen Korecky
    | Sound Engineer
  %p
    Freelance Front of House & Monitor Sound Engineer.
  %p
    If you would like to get in touch with me, please text or leave me a
    voicemail at <a href=tel:7739809429>(773) 980-9429</a>. <br/>
    I'll get back to you as soon as possible.
