#me
  %h1 
    Stephen Korecky
    %small Designer &amp; Developer from Chicago
  #portrait
    %img{:src => "/images/me.jpg", :width => 256, :height => 256}
  %ul#social
    %li
      %a.ss-icon.ss-social{:href => "http://dribbble.com/skorecky"} Dribbble
    %li
      %a.ss-icon.ss-social{:href => "http://github.com/skorecky"} GitHubOctocat
    %li
      %a.ss-icon.ss-social{:href => "#email", :'data-user' => "skorecky"} Email
    %li
      %a.ss-icon.ss-social{:href => "http://twitter.com/skorecky"} Twitter
    %li
      %a.ss-icon.ss-social{:href => "http://facebook.com/skorecky"} Facebook