#me
  #portrait
    %img{src: "/images/me_alt.jpg", width: 150, height: 150}
  %h1
    %strong Stephen Korecky
  %h2
    Freelance Sound Engineer
  %p.mobile-only
    For availability call <br/>
    <a href=tel:7739809429>(773) 980-9429</a>
  %p.not-mobile
    For availability or to get in touch call
    <a href=tel:7739809429>(773) 980-9429</a>
%footer
  %img{src: "/images/dollyrots-logo.png"}
  %img{src: "/images/teenage-bottlerockets.png"}
