%video{autoplay: true, muted: true, loop: true}
  %source{src: "/videos/background.mebm", type: "video/mebm"}
  %source{src: "/videos/background.mp4", type: "video/mp4"}
  %source{src: "/videos/background.ogv", type: "video/ogv"}
  %img{src: "/videos/background.jpg"}

.backstage_pass
  .ribbon
    %span ALL ACCESS
  .tab
    %nbsp
  #portrait
    %img{src: "/images/me_alt.jpg", width: 250, height: 250}
  .info
    %h1
      %strong Stephen Korecky
    %h2
      Sound Engineer
    %p
      <a href=tel:7739809429>(773) 980-9429</a>
