body {
  background-color:#1F325E;
	background-image:url("/images/stich.png"), url("/images/grain.png");
	color:#FFF;
	font:62.5%/1.5 Arial, sans-serif;
}

a {
	color:#FFF;
	text-decoration:none;
}

/* Wrapper
-------------------------*/

#wrapper {
  margin:0 auto;
  width:276px;
  padding:0 0 50px;
}

#me {
  margin:0 auto;
  width:276px;
}

#me h1 {
  color:rgba(255,255,255,0.8);
  font-size:32px;
  font-weight:800;
  line-height:1.6;
  margin:40px 0;
  text-align:center;
  text-shadow:0 1px 0 rgba(0,0,0,0.9);
}

#me h1 small {
  color:rgba(255,255,255,0.5);
  display:block;
  font-size:12px;
  margin:0;
}

#me #portrait {
  background:rgba(0,0,0,0.8);
  border:10px solid rgba(255,255,255,1);
  border-radius:50%;
  box-shadow:0 0 10px 0 rgba(0,0,0,0.8);
  width:256px;
}

#me #portrait img {
  border-radius:50%;
  display:block;
  max-width:100%;
}

#me #social {
  margin:-20px auto 0;
  position:relative;
  width:228px;
}

#me #social li {
  position:absolute;
}

#me #social li:nth-child(1) {
  left:0;
  top:0;
}

#me #social li:nth-child(2) {
  left:50px;
  top:20px;
}

#me #social li:nth-child(3) {
  left:100px;
  top:30px;
}

#me #social li:nth-child(4) {
  left:150px;
  top:20px;
}

#me #social li:nth-child(5) {
  left:200px;
  top:0;
}

#me #social li a {
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  color:rgba(255,255,255,0.5);
  font-size:24px;
}

#me #social li a:hover {
  color:rgba(255,255,255,1);
}

@media (max-device-width: 480px) {
  #me h1 {
    margin:10px 0;
  }
}