@import url(http://fonts.googleapis.com/css?family=Open+Sans:200,400,300,700,600);

html {
  height:100%
}

body {
  background-color:#111;
	color:#FFF;
	font:62.5%/1.5 "Open Sans", Helvetica, sans-serif;
  height:100%;
}

a {
	color:#FFF;
	text-decoration:none;
}

/* Wrapper
-------------------------*/
video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#me {
  background: rgba(0,0,0,0.4);
  bottom: 0;
  left: 0;
  padding: 100px 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

#me h1 {
  color:rgba(255,255,255,0.9);
  font-size:46px;
  font-weight:700;
  line-height:1.2;
  margin:40px 0 15px;
  text-align:center;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
}

#me h2 {
  font-size:30px;
  font-weight:200;
  text-align: center;
  margin:0 0 15px;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
}

#me p {
  font-size:16px;
  font-weight:400;
  text-align: center;
  margin:0 0 15px;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
}

#me p a {
  font-weight:400;
  text-decoration:none;
}

#me #portrait {
  background:rgba(0,0,0,0.8);
  border:5px solid rgba(255,255,255,1);
  border-radius:50%;
  margin:0 auto;
  position:relative;
  width:150px;
  z-index:2;
}

#me #portrait img {
  border-radius:50%;
  display:block;
  max-width:100%;
}

@media (max-width: 568px) {
  #me {
    background: none;
    border-radius: 0px;
    box-shadow: none;
    padding: 20px 0;
    width:100%;
  }

  #me h1 {
    font-size: 42px;
    margin:10px 0;
  }

  #me h2 {
    font-size: 28px;
  }

  #me p {
    font-size: 24px;
  }
}
